.container {
    width: 10%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
input {
    margin-top: 25px; 
}
.diagram {
    width: 25px;
    height: 200px;
    margin-top: 25px;
    border: 1px solid black;
    position: relative;
}
.position-relative {
    position: relative;
}
#value-block {
    position: absolute;
    width: 25px;
    height: 0px;
    bottom: 0px;
    background-color: green;
}
#commission-block {
    position: absolute;
    width: 27px;
    left: -1px;
    height: 0px;
    bottom: 0px;
    background-color: red;
}
#value {
    text-align: center;
    width: 25px;
    height: 25px;
}